.container{
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  background-color: darkslateblue;
  color: white;
  display: block;
}

p{
  float: left;
  margin-left: 10px;
}

.button-container{
  float: right;
  background-color: transparent;
  margin-top: 7.5px;
  margin-right: 5px;
}
